root = true



[*]
end_of_line = lf
charset = utf-8
indent_style = space
trim_trailing_whitespace = false

# ReSharper properties
resharper_xmldoc_indent_child_elements = DoNotTouch
resharper_xmldoc_indent_text = DoNotTouch

[*.cs]
charset = utf-8-bom
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_for_built_in_types = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-style.severity = none

# ReSharper properties
resharper_braces_for_ifelse = required_for_multiline
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_keep_existing_embedded_arrangement = false
resharper_local_function_body = expression_body
resharper_method_or_operator_body = expression_body
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_space_within_single_line_array_initializer_braces = true

[{*.yaml,*.yml,*.xml,*.csproj}]
indent_size = 2

[*.xaml]
charset = utf-8-bom
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160
